::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.nota {
  font-family: arial;
  color: #000;
  background-color: #fff;
  font-size: 10px;
  width: 750px;
  height: 300px;
  z-index: 2;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 20px 10px 10px;
  box-sizing: border-box;
}

.nota-btn {
  position: absolute;
  font-family: arial;
  color: #000;
  font-size: 10px;
  cursor: pointer;
  bottom: 5px;
  left: 5px;
}

.container {
  position: relative;
  max-width: 750px;
  height: 300px;
  background-image: url(../img/bg.jpg);
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px 0px 0px 1px #323232;
  -moz-box-shadow: inset 0px 0px 0px 1px #323232;
  box-shadow: inset 0px 0px 0px 1px #323232;
}

.btn {
  position: absolute;
  z-index: 1;
  transform: translate(539px, 215px) rotate(0deg);
  -webkit-transform: translate(539px, 215px) rotate(0deg);
  -moz-transform: translate(539px, 215px) rotate(0deg);
  -o-transform: translate(539px, 215px) rotate(0deg);
}

#head {
  position: absolute;
  transition: 1s all;
  transform: translate(81px, -284px) rotate(0deg);
  -webkit-transform: translate(81px, -284px) rotate(0deg);
  -moz-transform: translate(81px, -284px) rotate(0deg);
  -o-transform: translate(81px, -284px) rotate(0deg);
}

#head.active {
  transform: translate(81px, 16px) rotate(0deg);
  -webkit-transform: translate(81px, 16px) rotate(0deg);
  -moz-transform: translate(81px, 16px) rotate(0deg);
  -o-transform: translate(81px, 16px) rotate(0deg);
}

#kwota {
  position: absolute;
  transition: 1s all;
  transform: translate(-725px, 160px) rotate(0deg);
  -webkit-transform: translate(-725px, 160px) rotate(0deg);
  -moz-transform: translate(-725px, 160px) rotate(0deg);
  -o-transform: translate(-725px, 160px) rotate(0deg);
}

#kwota.active {
  transform: translate(25px, 160px) rotate(0deg);
  -webkit-transform: translate(25px, 160px) rotate(0deg);
  -moz-transform: translate(25px, 160px) rotate(0deg);
  -o-transform: translate(25px, 160px) rotate(0deg);
}

#bulety {
  position: absolute;
  transition: 1s all;
  transform: translate(-711px, 156px) rotate(40deg);
  -webkit-transform: translate(-711px, 156px) rotate(40deg);
  -moz-transform: translate(-711px, 156px) rotate(40deg);
  -o-transform: translate(-711px, 156px) rotate(40deg);
}

#bulety.active {
  transform: translate(39px, 156px) rotate(0deg);
  -webkit-transform: translate(39px, 156px) rotate(0deg);
  -moz-transform: translate(39px, 156px) rotate(0deg);
  -o-transform: translate(39px, 156px) rotate(0deg);
}

.test {
  position: absolute;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
