$width: 750px;
$height: 300px;


@mixin transform($left, $top, $rotate, $from:""){
	@if $from != ""{
		&.active{
			transform: translate($left, $top) rotate(0deg);
			-webkit-transform: translate($left, $top) rotate(0deg);
			-moz-transform: translate($left, $top) rotate(0deg);
			-o-transform: translate($left, $top) rotate(0deg);
		}
	}
	@if $from == ""{
		transform: translate($left, $top) rotate($rotate);
		-webkit-transform: translate($left, $top) rotate($rotate);
		-moz-transform: translate($left, $top) rotate($rotate);
		-o-transform: translate($left, $top) rotate($rotate);
	}
	@if $from == "top" {
		transform: translate($left, $top - $height) rotate($rotate);
		-webkit-transform: translate($left, $top - $height) rotate($rotate);
		-moz-transform: translate($left, $top - $height) rotate($rotate);
		-o-transform: translate($left, $top - $height) rotate($rotate);
	}
	@if $from == "bottom" {
		transform: translate($left, $top + $height) rotate($rotate);
		-webkit-transform: translate($left, $top + $height) rotate($rotate);
		-moz-transform: translate($left, $top + $height) rotate($rotate);
		-o-transform: translate($left, $top + $height) rotate($rotate);
	}
	@if $from == "left" {
		transform: translate($left - $width, $top) rotate($rotate);
		-webkit-transform: translate($left - $width, $top) rotate($rotate);
		-moz-transform: translate($left - $width, $top) rotate($rotate);
		-o-transform: translate($left - $width, $top) rotate($rotate);
	}
	@if $from == "right" {
		transform: translate($left + $width, $top) rotate($rotate);
		-webkit-transform: translate($left + $width, $top) rotate($rotate);
		-moz-transform: translate($left + $width, $top) rotate($rotate);
		-o-transform: translate($left + $width, $top) rotate($rotate);
	}
}



::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}

.nota {
	font-family: arial;
	color: #000;
	background-color: #fff;
	font-size: 10px;
	width: $width;
	height: $height;
	z-index: 2;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px 20px 10px 10px;
	box-sizing: border-box;
}

.nota-btn {
	position: absolute;
	font-family: arial;
	color: #000;
	font-size: 10px;
	cursor: pointer;
	bottom: 5px;
	left: 5px;
}

.container {
	position: relative;
	max-width: $width;
	height: $height;
	background-image: url(../img/bg.jpg);
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0px 0px 0px 1px #323232;
	-moz-box-shadow: inset 0px 0px 0px 1px #323232;
	box-shadow: inset 0px 0px 0px 1px #323232;
}

.btn {
	position: absolute;
	z-index: 1;
	@include transform( 539px, 215px, 0deg );
}


#head{
	position: absolute;
	transition: 1s all;
	@include transform( 81px, 16px, 0deg, "top" );
}

#kwota{
	position: absolute;
	transition: 1s all;
	@include transform( 25px, 160px, 0deg, "left" );
}

#bulety {
	position: absolute;
	transition: 1s all;
	@include transform( 39px, 156px, 40deg, "left" );
}


.test{
	position: absolute;
}



.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
